.App {
  background-color: #282c34;
  color: white;
  min-height: 100vh;
}

/* Header Styling */

.header-wrapper{
  display: flex;
  height: 80px;
  padding: 0 30px;
  align-items: center;
  justify-content: space-between;
}

.logo{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.logo-p{
  font-weight: 100;
  cursor: pointer;
}

.link-wrapper{
  width: 1100px;
}

.link-wrapper>a{
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 30px;
  font-size: 13px;
  letter-spacing: 1px;
  transition: 0.1s ease-in;
  font-weight: lighter;
  box-shadow: inset 0 0 0 0 white;
  color: white;
  margin: 1.5rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.link-wrapper>a:hover{
  box-shadow: inset 100px 0 0 0 white;
  color: black;
}

.icon-wrapper>img{
  height: 22px;
  width: 22px;
  padding: 0 15px;
  cursor: pointer;
}


/* Body Styling */

.body-wrapper{
  padding: 0 30px;
  margin-top: 40px;
  height: 400px;
  display: flex;
  flex-direction: row;
}

.line{
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: space-between;
  position: relative;
  width: 0.5px;
  align-items: center;
  padding: 50px 0;
}

.circle{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 15px;
  position: relative;
  transition: 0.2s ease-in-out;
}

.circle:hover{
  height: 30px;
  width: 30px;
}

.hero-wrapper{
  margin-left: 50px;
}