.App {
  background-color: #282c34;
  color: white;
  min-height: 100vh;
}

/* Header Styling */

.header-wrapper{
  display: flex;
  flex-wrap: wrap;
  height: 80px;
  padding: 0 30px;
  align-items: center;
  justify-content: space-between;
}

.link-wrapper{
  flex: 50%;
  margin-left: 80px;
}

.logo{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.logo-p{
  font-weight: 100;
  cursor: pointer;
}

.link-wrapper>a{
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 30px;
  font-size: 13px;
  letter-spacing: 1px;
  transition: 0.1s ease-in;
  font-weight: lighter;
  box-shadow: inset 0 0 0 0 white;
  color: white;
  margin: 1.5rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.link-wrapper>a:hover{
  box-shadow: inset 100px 0 0 0 white;
  color: black;
}

.icon-wrapper>img{
  height: 22px;
  width: 22px;
  padding: 0 15px;
  cursor: pointer;
}


/* Body Styling */

.body-wrapper{
  padding: 0 30px;
  margin-top: 40px;
  height: 400px;
  display: flex;
  flex-direction: row;
}

.line{
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: space-between;
  position: relative;
  width: 0.5px;
  align-items: center;
  padding: 50px 0;
}

.circle{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 15px;
  position: relative;
  transition: 0.2s ease-in-out;
}

.circle:hover{
  height: 30px;
  width: 30px;
}

.hero-wrapper{
  margin-left: 50px;
  margin-top: 150px;
}

.hero-header{
  font-size: 90px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.hero-paragraph{
  width: 550px;
  margin: 0;
  margin-bottom: 30px;
}

.hero-button{
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: white;
  border-color: white;
  border-style: solid;
  padding: 8px 30px;
  border-radius: 10px;
  border-width: 2px;
  transition: 0.1s;
}

.arrow{
  margin-left: 10px;
}

.hero-button:hover{
  background-color: rgba(225, 225, 225, 0.2);
}


/* Footer Styling */

.footer-wrapper{
  display: flex;
  height: 272px;
  padding: 0 30px;
}

.social-wrapper{
  display: flex;
  width: 200px;
  flex-direction: column;
  padding-top: 220px;
}

.social-wrapper-2{
  height: 30px;
  display: flex;
  align-items: end;
}

.social-icon{
  height: 22px;
  padding: 0 7px;
  transition: 0.1s ease-in;
  cursor: pointer;
}

.social-icon:hover{
  margin-bottom: 4px;
}

.social-line{
  margin-top: 4PX;
  background-color: white;
  height: 1.3px;
  width: 160px;
  display: flex;
  align-items: center;
  color: transparent;
}

.popular-destination{
  flex: 50%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.popular-line>h3{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 17px;
  padding-left: 3px;
}

.popular-line>div{
  background-color: white;
  height: 1.3px;
  margin: 3px;
  width: 220px;
  color: transparent;
}

.location{
  height: 160px;
  display: flex;
  align-items: end;
}

.location-image{
  margin-top: 24px;
  height: 140px;
  width: 140px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
  margin-left: 24px;
  cursor: pointer;
  transition: 0.3s;
}

.location-image:hover{
  margin-bottom: 10px;
}

.arrow-button{
  margin-top: 20px;
}


.arrow-wrapper{
width: 465px;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
}

.arrow-button-1{
  padding: 0 5px;
  transform: rotate(-90deg);
  cursor: pointer;
  height: 30px;
  width: 30px;
  transition: 0.1s;
}

.arrow-button-1:hover{
opacity: 0.3;
}


.arrow-button-2{
  padding: 0 5px;
  transform: rotate(90deg);
  cursor: pointer;
  height: 30px;
  width: 30px;
  transition: 0.1s;
}

.arrow-button-2:hover{
  opacity: 0.2;
}

.bg-image{
  width: 100%;
  height: 789;
  object-fit: cover;
  object-position: center;
  position: relative;
  z-index: 1;
}