.App {
  background-color: #282c34;
  color: white;
}

.bg-image{
  width: 100%;
  height: 788px;
  object-fit: cover;
  object-position: center;
}

.background{
  position: relative;
}

.header-wrapepr{
  position: absolute;
}

.header{
  position: absolute;
}
